body {
    background: url(yuuka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.box {
    text-align: center;
    background-color: rgb(153, 0, 255);
    border: solid;
    border-style: dashed;
    border-radius: 25px;
    border-color: white;
    box-shadow: 4px 4px rgba(255, 255, 255, 0.114);
    padding: 20px;
}

p {
    color: white;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid;
    text-align: center;
    color: rgb(255, 255, 255);
}

table {
    width: 80%;
    margin: 0 auto 0 auto;
    border: solid;
    border-style: dashed;
    height: 80vh;
}

td, th, tr {
    width: 100vh;
}